html,
body,
main {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	-ms-box-sizing: inherit;
	-o-box-sizing: inherit;
	box-sizing: inherit;
}

h1, h2, h3 {
  margin: 0;
}

input[type="radio"] {
  margin: 0;
  all: unset;
  visibility: hidden;
}

a {
  text-decoration: none;
  color: darkslategrey;
}

.body {
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
  font-style: normal;
	color: black;
	margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
	background-color: lightgrey;
  margin: 0 auto;
}

.header,
.footer {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  color: black;
}

.footer {
  border-top: 0.1rem solid silver;
}

.footer__title {
  text-align: right;
}

.cssbayan {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  color: blue;
}

.cssbayan__item {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid silver;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0%;
}

.cssbayan__item_label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.plus-icon {
  background-image: url("./assets/plus_icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  visibility: visible;
  -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
}

.image-meme1 {
  background-image: url("./assets/cantjust.png");
}

.image-meme2 {
  background-image: url("./assets/keepcalm.png");
}

.image-meme3 {
  background-image: url("./assets/worklife.png");
}

.image-meme4 {
  background-image: url("./assets/whereisjs.png");
}

.image-meme5 {
  background-image: url("./assets/relaxeasy.png");
}

#radio-check1:checked ~ .image-meme1 .plus-icon,
#radio-check2:checked ~ .image-meme2 .plus-icon,
#radio-check3:checked ~ .image-meme3 .plus-icon,
#radio-check4:checked ~ .image-meme4 .plus-icon,
#radio-check5:checked ~ .image-meme5 .plus-icon {
  -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
}
